.app-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .create-project-btn {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 20px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f4f3;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f4f3;
    padding: 10px;
  }
  
  .search-bar {
    flex: 1;
    margin-right: 20px;
    padding: 8px;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-info-section {
    text-align: center;
  }
  
  .user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .general-info {
    margin-top: 20px;
  }
  
  .general-info-cards {
    display: flex;
    gap: 20px;
  }
  
  .card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
  }
  
  .contact-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-methods {
    display: flex;
    gap: 10px;
  }
  
  .contact-methods button {
    background-color: #4ab7b6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .address {
    text-align: center;
    margin-top: 20px;
  }
  
  .map {
    margin-top: 20px;
  }
  