<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>

<div class="principal">
    <header>
        <nav class="menu">
            <div class="menu-izq">
                <a href=""> Home </a>
                <a href=""> Nosotros </a>
            </div>
            
            <div class="menu-centro">
                <h1>Clustero</h1>
            </div>
    
            <div class="menu-der">
                <a href=""> Ingresar </a>
            </div>
        </nav>
    </header>
    
    <section class="hero">
        <div class="hero-texto">
            <h2>Mejora la integración de tu cluster</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus quis felis interdum vehicula. Curabitur fringilla est neque, 
                sed suscipit ante ultrices eget. Pellentesque varius libero vitae justo venenatis vulputate. Vestibulum sit amet sodales sapien. 
                Cras porttitor elementum dictum. Phasellus dapibus libero vulputate risus posuere, sed aliquam felis luctus.
            </p>

            <p>
                Donec convallis, sem ac vestibulum finibus, velit magna pellentesque tortor, ac gravida ante arcu vel magna. Donec iaculis nisl dui, 
                quis faucibus erat porttitor vehicula. Phasellus a laoreet est. Nunc pulvinar augue nec mauris consequat efficitur. Suspendisse nec 
                massa massa. Curabitur in sollicitudin ligula. 
            </p>

            <div class="botones">
                <a href="#" class="btn-primario">Mirar precios</a>
                <a href="#" class="btn-secundario">Explorar más</a>
            </div>
        </div>
        <div class="hero-imagen">
            <img src="../../assets/isla.png" alt="">
        </div>
    </section>
</div>

